.tabs-list {
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .tabs-list {
    margin-top: 48px;
  }
}

.tab-item-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-container {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.filter-section {
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
  align-items: center;
}

.virtual-cards-container {
  padding: 40px;
}

.filters-container {
  padding: 10px;
  width: 40%;
}

.input-container {
  display: flex;
  align-items: center;
}

.apply-clear-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.apply-button {
  background-color: red;
  color: white;
  margin-right: 10px;
  border-width: 0px;
  padding: 7px;
  border: 0px solid;
}
.clear-button {
  margin-right: 10px;
  border-width: 0px;
  border: 0px solid;
  padding: 7px;
}
.virtual-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
